name: Publish to pub.dev

on:
  push:
    branches:
      - main # Triggers when you push to master

# Required for OIDC authentication
permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Dart/Flutter
        uses: dart-lang/setup-dart@v1
        # If using Flutter, use: subosito/flutter-action@v2

      - name: Install dependencies
        run: dart pub get

      - name: Publish to pub.dev
        run: dart pub publish --force